:root {
  --mellow-yellow: #FFD966;
  --mellow-green: #93C47D;
  --mellow-blue: #6FA8DC;
  --mellow-purple: #8E7CC3;
  --mellow-purple-dark: #554A75;
  --mellow-purple-darker: #211B2C;
  --mellow-pink: #C27BA0;
  --mellow-coral: #E06666;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  animation: fade-in-animation ease-in-out 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: var(--mellow-purple);
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: clamp(3rem, 8.33vw, 6rem) auto 0 auto;
  max-width: clamp(280px, 83.33vw, 600px);
  font-size: clamp(22px, 5.56vw, 40px);
  font-weight: 400;
  color: #000000;
}

.disclaimer {
  text-align: right;
  margin: 0 auto clamp(2rem, 4.17vw, 3rem) auto;
  max-width: clamp(240px, 90vw, 720px);
  width: 100%;
  font-size: clamp(1.4rem, 2.08vw, 1.5rem);
  color: var(--mellow-purple-darker);
  font-weight: 200;
}

.disclaimer a {
  color: var(--mellow-purple-darker);
  margin: 0 0 0.6rem 0;
  display: inline-block;
}

.centered-content {
  width: 100vw;
  max-width: clamp(240px, 90vw, 720px);
  margin: clamp(20px, 5vw, 40px) auto;
  padding: clamp(20px, 5.56vw, 40px);
  background-color: #111111;
  color: #eeeeee;
}

.centered-content__error a {
  color: #ffffff;
}

.centered-content__error input,
.centered-content__error button {
  margin-top: clamp(1rem, 2.57vw, 2rem);
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: clamp(16px, 2.78vw, 20px);
  margin-bottom: clamp(10px, 2.78vw, 20px);
}

.form-item {
  flex: 1 1 100%;
  margin-bottom: clamp(10px, 2.78vw, 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(5px, 1.39vw, 10px);
}

input,
select,
button,
li.faux__select__item {
  font-size: clamp(16px, 2.78vw, 20px);
  margin: 0;
  padding: clamp(10px, 2.78vw, 20px);
  background-color: var(--mellow-purple-dark);
  color: #ffffff;
  font-weight: 400;
  border: 0;
}

input::placeholder {
  color: #dddddd;
}

li.faux__select__item {
  margin-bottom: clamp(10px, 2.78vw, 20px);
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
}

li.faux__select__item .preset__name {
  padding: clamp(10px, 2.78vw, 20px);
}

em {
  font-style: italic;
}

input,
select  {
  flex: 1 1 200px;
}

button#reset-max-value {
  background-color: #111111;
  border: 2px solid var(--mellow-purple);
}

button#copy-result:active,
button#copy-result:focus {
  outline: 4px dotted var(--mellow-yellow);
}

button:hover,
li.faux__select__item  {
  cursor: pointer;
}

input:active,
input:focus,
select:active,
select:focus,
button:active,
button:focus,
.readmore__switch:active,
.readmore__switch:focus {
  outline: 2px dotted var(--mellow-yellow);
  outline-offset: clamp(3px, 0.83vw, 6px);
}

.form-group__max-value button {
  margin-left: auto;
}

.form-group__submit {
  margin-bottom: 0;
}

.form-group__submit button {
  flex: 1 1 100%;
}

.form-group__submit .form-item {
  margin-bottom: 0;
}

label {
  flex: 0 1 200px;
  display: flex;
  align-items: center;
  margin-bottom: clamp(3px, 0.83vw, 6px);
}

.result {
  font-size: clamp(16px, 2.78vw, 20px);
}

#output {
  display: flex;
  align-items: center;
}

.form-group__output .form-item {
  margin: 0;
  justify-content: space-between;
}

.form-group__output.has-result {
  padding: clamp(10px, 2.78vw, 20px);
  background-color: #eeeeee;
  color: #222222;
  font-weight: 600;
  margin-top: clamp(10px, 2.78vw, 20px);
  margin-bottom: 0;
}

.form-group__output:not(.has-result) {
  margin: 0;
}

p,
dt,
dd {
  font-size: clamp(1.5rem, 2.36vw, 1.7rem);
  margin-top: clamp(0.75rem, 1.18vw, 0.85rem);
  margin-bottom: clamp(1.5rem, 2.36vw, 1.7rem);
  line-height: 1.3;
}

dt {
  font-weight: 700;
  margin-bottom: clamp(0.75rem, 1.18vw, 0.85rem);
  text-wrap: balance;
}

dl {
  margin: clamp(1.5rem, 2.36vw, 1.7rem);
  margin-right: 0;
}

p:nth-child(1) {
  margin-top: 0;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}

h2 {
  font-size: clamp(1.8rem, 3.06vw, 2.2rem);
  font-weight: 500;
  margin-top: clamp(0.9rem, 1.53vw, 1.1rem);
}

h3 {
  font-size: clamp(1.6rem, 2.64vw, 1.9rem);
  font-weight: 500;
  margin-top: clamp(0.9rem, 1.53vw, 1.1rem);
}

code {
  background-color: var(--mellow-yellow);
  padding: 20px;
  margin: 20px 0;
  font-family: monospace;
  display: block;
  color: #000000;
  font-size: clamp(1.5rem, 2.36vw, 1.7rem);
}

.readmore__switch {
  margin-top: clamp(1rem, 2.78vw, 2rem);
}

.readmore__switch:hover {
  cursor: pointer;
}

.readmore__content {
  margin-top: clamp(1rem, 2.78vw, 2rem);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

.readmore__open .readmore__content {
  display: block;
  max-height: 3000px;
  overflow: auto;
  transition: max-height 0.3s ease-out;
}

.readmore__content a,
.full__content a {
  color: #ffffff;
}

.readmore__content li {
  list-style: disc;
  margin: clamp(0.5rem, 1.39vw, 1rem);
  list-style-position: inside;
}

.faux__select {
  flex: 1 1 200px;
  position: relative;
}

.faux__select__trigger {
  width: 100%;
  text-align: left;
}

.faux__select__form {
  background-color: var(--mellow-purple);
  padding: clamp(10px, 2.78vw, 20px);
  width: 100%;
  position: absolute;
  display: none;
  max-height: 400px;
  overflow: scroll;
}

.faux__select__open .faux__select__form  {
  display: block;
}

.faux__select__form button,
.faux__select__form input {
  font-size: clamp(14px, 0.22vw, 16px);
  padding: clamp(4px, 0.14vw, 10px);
  background-color: #ffffff;
  color: var(--mellow-purple-dark);
  font-weight: 200;
  border: 0;
}

.breakpoint__list__add {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.breakpoint__list__add label {
  font-size: clamp(14px, 0.22vw, 16px);
  padding: clamp(4px, 0.14vw, 10px) 0;
}

.breakpoint__list__add__formitem {
  margin-right: clamp(8px, 0.28vw, 20px);
}

.breakpoint__list__add__formitem:nth-last-child(1) {
  margin-left: auto;
  align-self: flex-end;
}

.faux__select__item__remove {
  margin-left: auto;
  margin-right: clamp(10px, 2.78vw, 20px);
}

img {
  height: auto;
  max-width: 100%;
  margin-bottom: clamp(1rem, 2.78vw, 2rem);
}

.emoji {
    font-size: clamp(2rem, 4.17vw ,3rem);
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
